name: test

on:
  push:
    branches:
      - main

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - name: say hello
        run: echo 'hello from CI'

  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout and clone repo
        uses: actions/checkout@v2

      - name: set up postgres
        uses: harmon758/postgresql-action@v1
        with:
          postgresql db: test_db
          postgresql user: garethrwilliams
          postgres password: password123

      - name: Install dependencies
        run: npm i

      - name: test the ting
        run: PGDATABASE=nc_news_test PGUSER=garethrwilliams PGPASSWORD=password123 npm t
